# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [ ]:
pip install gmaps

In [21]:
# Dependencies and Setup
import os
import pandas as pd
import requests
import gmaps

# Import Google API key
from Config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [23]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "\Weather_Database\Weather_Database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(os.path.join("..", "Weather_Database", "Weather_database.csv"))

# Display sample data
city_data_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mataura,NZ,-46.1927,168.8643,53.67,40,84,6.85,broken clouds
1,1,Hay River,CA,60.8156,-115.7999,39.70,68,99,10.33,overcast clouds
2,2,Salekhard,RU,66.5300,66.6019,31.21,94,100,7.61,overcast clouds
3,3,Saint George,US,37.1041,-113.5841,70.25,26,0,4.61,clear sky
4,4,Rikitea,PF,-23.1203,-134.9692,71.10,70,99,19.44,overcast clouds
5,5,Katsuura,JP,35.1333,140.3000,69.51,56,2,12.26,clear sky
6,6,New Norfolk,AU,-42.7826,147.0587,76.91,53,100,10.47,overcast clouds
7,7,Bonthe,SL,7.5264,-12.5050,76.35,87,61,3.13,broken clouds
8,8,Atuona,PF,-9.8000,-139.0333,77.14,68,4,16.73,clear sky
9,9,Dikson,RU,73.5069,80.5464,32.07,94,100,12.24,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [24]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimun temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximun temperature you would like for your trip? "))

What is the minimun temperature you would like for your trip? 80
What is the maximun temperature you would like for your trip? 100

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [27]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)] 
                                    
# Display sample data
preferred_cities_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
32,32,Kahului,US,20.8947,-156.4700,82.42,73,40,5.75,scattered clouds
37,37,Cabo San Lucas,MX,22.8909,-109.9124,80.62,78,9,5.99,clear sky
39,39,Adrar,MR,20.5022,-10.0711,81.90,19,99,10.20,overcast clouds
59,59,Bathsheba,BB,13.2167,-59.5167,80.15,81,15,7.92,few clouds
68,68,Sur,OM,22.5667,59.5289,85.06,33,0,1.79,clear sky

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [29]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities_df = preferred_cities_df.dropna(axis="index", how="any")



# Display sample data
clean_travel_cities_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
32,32,Kahului,US,20.8947,-156.4700,82.42,73,40,5.75,scattered clouds
37,37,Cabo San Lucas,MX,22.8909,-109.9124,80.62,78,9,5.99,clear sky
39,39,Adrar,MR,20.5022,-10.0711,81.90,19,99,10.20,overcast clouds
59,59,Bathsheba,BB,13.2167,-59.5167,80.15,81,15,7.92,few clouds
68,68,Sur,OM,22.5667,59.5289,85.06,33,0,1.79,clear sky

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [31]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head()

              City Country  Max Temp Current Description      Lat       Lng
32         Kahului      US     82.42    scattered clouds  20.8947 -156.4700
37  Cabo San Lucas      MX     80.62           clear sky  22.8909 -109.9124
39           Adrar      MR     81.90     overcast clouds  20.5022  -10.0711
59       Bathsheba      BB     80.15          few clouds  13.2167  -59.5167
68             Sur      OM     85.06           clear sky  22.5667   59.5289

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [32]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""


# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
32,Kahului,US,82.42,scattered clouds,20.8947,-156.4700,
37,Cabo San Lucas,MX,80.62,clear sky,22.8909,-109.9124,
39,Adrar,MR,81.90,overcast clouds,20.5022,-10.0711,
59,Bathsheba,BB,80.15,few clouds,13.2167,-59.5167,
68,Sur,OM,85.06,clear sky,22.5667,59.5289,
80,Hithadhoo,MV,81.88,overcast clouds,-0.6000,73.0833,
82,Cockburn Town,TC,83.10,clear sky,21.4612,-71.1419,
94,Chiang Klang,TH,86.77,clear sky,19.2938,100.8617,
109,Jaunpur,IN,80.62,clear sky,25.7333,82.6833,
119,Espana,PH,84.11,overcast clouds,12.3841,122.4990,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [33]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [34]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [ ]:
# Display sample data
# YOUR CODE HERE

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [35]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis="index", how="any")


# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
32,Kahului,US,82.42,scattered clouds,20.8947,-156.4700,Maui Seaside Hotel
37,Cabo San Lucas,MX,80.62,clear sky,22.8909,-109.9124,Hotel Tesoro Los Cabos
39,Adrar,MR,81.90,overcast clouds,20.5022,-10.0711,
59,Bathsheba,BB,80.15,few clouds,13.2167,-59.5167,Atlantis Hotel
68,Sur,OM,85.06,clear sky,22.5667,59.5289,Sur Plaza Hotel
80,Hithadhoo,MV,81.88,overcast clouds,-0.6000,73.0833,Scoop Guest House
82,Cockburn Town,TC,83.10,clear sky,21.4612,-71.1419,Osprey Beach Hotel
94,Chiang Klang,TH,86.77,clear sky,19.2938,100.8617,Sangthong Resort
109,Jaunpur,IN,80.62,clear sky,25.7333,82.6833,Hotel Varun
119,Espana,PH,84.11,overcast clouds,12.3841,122.4990,The Boathouse | Sibuyan Island

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [38]:
# Set the file name.
output_data_file = "\Vacation_Search\WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df = "\Vacation_Search\clean_hotel_df.csv"

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [ ]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [ ]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [ ]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [ ]:
# Add a marker layer for each city to the map. 
# YOUR CODE HERE

# Create a figure to add the Google map as a layer
# YOUR CODE HERE

# Display the figure containing the map
# YOUR CODE HERE